#searchForm {height: 305px}
.ads-content h1 {
	padding: 0
}
.ads-content h2 {
	padding: 10px 0;
}

.ads-content h3 {
	padding: 5px 0;
}

.ads-content ul {
	list-style: disc;
	margin-left: 30px
}

.ads-content img {
	clear: both;
	margin: 5px 0
}

.ads-content .no-padding-bottom {padding-bottom: 0}

.ads-content .hide {display: none;}

.valid-to {font-size: 13px; font-weight: bold;}