.search_area{
 	float:left;
	width: 624px;
}
.why_use_area{
	float:right;
	width:346px
}
#navigation {margin-bottom: 5px;}
/* ----- Search Form -----*/

.search_type{padding: 0 !important;}
.search_type h2{float: left; width: 130px; padding: 0 0 10px 0 !important; font-size: 16px;}
.search_type label{font-size: 16px; font-weight: bold; margin-right: 10px}
.search_type input{margin:0}

input, select { font-size: 13px;}

.ui-menu-item{font-size: 16px;color:#666 !important;}

#searchForm {
	height: 230px;
	width: 604px !important;
	padding: 10px;
}

#searchForm .row, .row_inline, .nights{
	clear:both;
	height: 31px;
	margin: 0 !important;
}

#searchForm .row_des{
	height: 38px;
}

#searchForm .nights {margin: 5px 10px;}
#searchForm .row_inline, .nights{margin-left: 10px}
#searchForm .label,.column_label, #searchForm .duration-label{
	margin-top:auto;
	float:left;
	width:130px;
	font-size: 14px;
	
}
#searchForm .tour_type,.duration{float: left;}
#searchForm .padd {}
#searchForm #date_picker img{
	cursor: pointer;
	margin:0px;
	margin-bottom:-3px;	
	width:17px;
	height:16px;		
}

#searchForm .travelstyle, #searchForm .group-type-label{width:21%; float:left; font-size: 13px;}
#searchForm .group-type-label{font-size:14px}
.travelstyle input {float: left; padding: 0; margin: 0; margin-right: 5px;}
#searchForm .budget {width:21%; float:left; font-size: 13px; margin-top: auto;}
#searchForm .budget_last {width:15%;}
.budget span {float: left; margin-left: 5px; *margin-left: auto; *float: none; }
.budget input {float: left; padding: 0; margin: 0;*padding: auto; *margin: auto;}

#destinations, .hotel_destination{
	width:440px;
	font-size: 16px;
	* width:438px;
}

.search_button{
	margin: 0 !important;
	font-size: 16px;
	*margin-top: 15px;
}

.why_use{
	width: 344px; height: 249px; position: relative;
}
.why_use h1{font-weight: normal;}
.why_use ul {margin-left: 20px; line-height: 1.2em}
.why_use li {margin-bottom: 8px}
.why_use .icon_checkmark {margin-top: 1px; margin-right: 5px}

.book-together-area {margin-top: 15px}
.book-together-area h2 {
	padding:0 0 0 8px;
}

.book-together-area img {margin: 5px 0 0 20px}

.why_use_item{
	font-size: 13px; 
}
.service{
	font-size: 12px; font-weight: bold; color: #666; margin-right: 18px;
}

#ui-datepicker-div 
{
 z-index: 100001 !important; 
}


.popular_desc{
	margin: 0 10px 7px 10px;
}

.follow_us{
	width: 140px; margin-top: 20px; height: 150px; float: left; margin-right: 22px; text-align: center;
}

.sepearation{
	width: 100%; margin: 10px 0 10px 0; float: left;
}

.list_popular_item{
	padding-left: 10px; margin-top: 7px;
}
.popular_item{
	width: 25%; margin-bottom: 10px; float: left;
}
.hotel_deal_item {
	float: left;
	width: 100%;
	border-bottom: 1px solid #eee;
	padding: 10px 0;
}

.hotel_deal_area li:last-child {border: 0}

.hotel_deal_area{
	width: 324px; margin-top: 10px; float: right; margin-left: 20px; background-color: #F8F8F8; padding: 0 10px
}
.cruse_deal_area{
	float: left;
	width: 624px;
	margin-top: 10px;
	background-color: #F8F8F8;
	padding-bottom: 10px
}
.halong_mekong_deal_area{
	width: 624px; float: left;position: relative;
}

.list_tour_hot_deals{float:left;width: 622px; padding: 10px 0;font-size: 11px; margin-left: 10px}

.deal_item{
	width: 207px;
	float: left;
	position: relative;
}
.deal_item_price{
	position: absolute;
	text-align: center;
	padding: 2px 2px;
	background-color: #FFFFC9;
	border: 1px solid #EEE;
	margin-top: 5px; margin-left: 20px;
}

.deal_item_content{
	text-align: center; width: 100%;
}

.deal_item_image{
	border: 1px solid #EEE; 
	padding: 0px; 
	height: 90px; 
	width: 135px;
	margin-bottom: 2px;
}

.deal_item .row{padding: 2px}


.bpt_item_name{font-size:13px; padding-bottom: 0}