.icon-s-arrow-left {
	background-position: -165px -100px;
	width: 9px;
	height: 23px;
	position: absolute;
	right: 10px;
	top: 3px
}
#contentLeft .selected .icon-s-arrow-left, #contentLeft li:hover .icon-s-arrow-left{
	background-position: -180px -100px;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #3F8FDA;
	position: absolute;
	bottom: -6px; 
	left: 40px;
	z-index: 100
}

#contentLeft ul {
	list-style: none;
}

#contentLeft li {
	padding: 6px 20px;
	border-bottom: 1px solid #DEDEDE;
	position: relative;
}
#contentLeft .selected {background-color: #E1E1E1}

#contentLeft li {
	font-size: 12px;
	font-color: #3385D6;
}
.no-border {border: 0 !important;}

#contentLeft {
 	float:left;
	width:250px;
	margin-right: 10px;
	background-color: #EEEDED;
}
#contentLeft h3{
	padding: 7px 20px;
	background-color: #3F8FDA;
	color: #fff;
	font-size: 13px;
	position: relative;
}
/* ----- Detail Content -----*/
#contentMain{
	float:left;
	width:720px;
	margin-left:10px;
}
/* ----- Price tab -----*/
#partner_list{
	float:left;	
	width:100%;
	margin-bottom:10px;	
	border:1px solid #DDD;
}
#partner_list .header{
	background-color:#EEEEEE;
	padding:5px 10px;	
	border:0;
	border-bottom:1px solid #DDD;	
}
#partner_list .content{
	padding:0px 10px;
}
.items{
	float:left;	
	width:100%;
}
.col_1, .col_2, .col_3 {
	float:left;
	width:33%;
	padding-top:5px;
	padding-bottom:5px;
}