/*! Basic CSS of Best Price Project
* http://www.bestpricevn.com
* Includes: all minimal and needed css for the MOBILE VERSION of the website
* Copyright 2015 Bestpricevn.com */

/* LAYOUT */
html { background-color: #fff }

/* TYPE */
body { font-size: 14px; font-family: Arial }

a { color: #3385d6 }
a:link, a:visited, a:active { text-decoration: none; }
a:hover { text-decoration: none; color: #FE8802 }

h1, h2, h3 { margin: 10px 0; }

h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h1 { font-weight: bold; }
h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-weight: normal; }

small { font-size:85%; font-weight:normal }

/**
 * Khuyenpv: overide row & col-xs padding from Bootstrap (14.07.2014)
 * 15px -> 10px for mobile padding
 */
.container{
	padding-left:10px;
	padding-right:10px;
	width: 100%
}

.container-fluid{
	padding-left:0;
	padding-right:0;
}


/* System Margin, Padding
-----------------------------------*/
.no-padding {padding:0 !important; }
.no-margin {margin:0 !important; }
.padding-5 {padding: 5px !important;}
.margin-top-0 { margin-top: 0px !important }
.margin-top-5 { margin-top: 5px }
.margin-top-10 { margin-top: 10px }
.margin-top-15 { margin-top: 15px }
.margin-top-20 { margin-top: 20px }
.margin-top-30 { margin-top: 30px }
.margin-bottom-0 { margin-bottom: 0 !important; }
.margin-bottom-5 { margin-bottom: 5px }
.margin-bottom-10 { margin-bottom: 10px }
.margin-bottom-15 { margin-bottom: 15px }
.margin-bottom-20 { margin-bottom: 20px }
.margin-bottom-30 { margin-bottom: 30px }
.margin-left-5 { margin-left: 5px }
.margin-left-10 { margin-left: 10px }
.margin-left-15 { margin-left: 15px }
.margin-left-20 { margin-left: 20px }
.margin-right-5 { margin-right: 5px }
.margin-right-10 { margin-right: 10px }
.padding-left-0 { padding-left: 0  !important; }
.padding-right-0 { padding-right: 0 !important; }
.padding-left-10 {padding-left: 10px;}
.padding-left-20 {padding-left: 20px;}
.padding-right-20 {padding-right: 20px;}
.padding-bottom-5 { padding-bottom: 5px}
.padding-bottom-10 {padding-bottom: 10px;}
.padding-bottom-20 {padding-bottom: 20px;}
.padding-bottom-25 {padding-bottom: 25px;}
.padding-right-10 {padding-right: 10px;}
.padding-top-10 { padding-top: 10px}
.margin-bottom-2 { margin-bottom: 2px }
.no-border { border: 0 !important; }

/*--- Global Header ---*/
.bpv-header,.bpv-content,.bpv-footer { width: 100%; }
.bpv-header { position: relative; border-top: 3px solid #FF7802; background-color: #F4F4F4; text-align: center; }
.bpv-header .navbar-toggle { float: left; padding: 6px 0; margin-right: 0 }
.bpv-header .col-xs-8 { padding: 0; }
.bpv-header img { margin-left: 5px }

#btn-menu-left { background: none; border: 0; float: left; padding: 14px 0;}
#btnIconSearch { background: none; border: 0; float: left; padding: 10px 0; font-size: 20px }
.btnIconCart {   position: absolute;top: 13px;right: 10px; }
#btn-menu-left:focus, #btnIconSearch:focus { outline: none; }

.bpv-header .bpv-logo { margin: 6px auto; display: block; }
.bpv-navbar-collapse { clear: both; text-align: left; }

/*--- Global Footer ---*/
.bpv-footer { margin-top: 20px; clear: both; }
.bpv-footer .company-name { font-size: 14px }
.bpv-footer .company-address span { font-size: 12px; }
.bpv-footer .glyphicon-map-marker { margin-right: 5px }

.bpv-footer-links { margin:0 0 20px; background-color: #F0F0F0; padding-top: 10px; border-radius: 6px; font-size: 12px }
.bpv-footer-links ul { list-style: none; padding: 10px 0 0 0; }
.bpv-footer-links ul li { text-transform:uppercase; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #BABABA }

.bpv-address { font-size: 12px }
.bpv-address a { color: #6A6A6A; text-decoration: underline; }
.bpv-address p  { margin-bottom: 15px }
.social { text-decoration: none; padding-right: 5px }

/*--- Flex Slider ---*/
.flexslider { border: 0; box-shadow: none; margin: 0; }
.flexslider_loader { background-color: #d4d4d4; width: 100%; height: 210px; overflow: hidden; position: relative; }
.flexslider_loader ul { display: none; }
.flex-caption {
  position: absolute;
  bottom: 0;
  color: #fff;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px 0;
  display: none;
  width: 100%;
}
.flex-active-slide { position: relative; }
.flex-active-slide .flex-caption { display: block; }
.flex-caption h1, .flex-caption h2 { font-size: 16px; font-weight: bold; color: #FFF; }
.flex-caption h1, .flex-caption h2, .flex-caption span { padding: 0; margin: 0; text-shadow: none; }
.flex-caption .item-name { font-size: 16px; font-weight: bold; }
.flex-caption .price-from { color: #FE8802 !important;  }

.loader {
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5em;
}
.loader, .loader:after {
  border-radius: 50%;
  width: 8em;
  height: 8em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*--- Bpv Toggle ---*/
.bpv-toggle { position: absolute; top: 0; right: 0; font-weight: normal; font-size: 13px }
.bpv-toggle-content { display: none; }

/*--- Bpv Modal ---*/
.modal-header, .modal-body, .modal-footer{
	padding:10px !important;
}
/*--- Fix Windows Phone Bugs ---*/
@-ms-viewport {
    width: auto;
}

html,body {
    -ms-overflow-style: none !important;
}

/*--- Global Search ---*/
.bpv-search, .bpv-check-rate-form { background-color: #FF8802; border-radius: 4px; padding: 6px; font-size: 14px; }
.bpv-search { margin: 15px 0; display:none; padding: 3px}
.bpv-search .bpv-search-content, .bpv-check-rate-form .content { background-color: #FFF; border-radius: 4px; padding: 10px}
.bpv-search label, .bpv-check-rate-form label { color: #666}
.bpv-search label{margin-bottom:2px}

.bpv-search h1, .bpv-search h2, .bpv-check-rate-form h2 { padding: 4px 15px 8px 10px; font-weight: normal; margin: 0; color: #fff; }
.bpv-search h1, .bpv-search h2 { text-align: center; }
.bpv-search .btn-search { width: 100%; font-size: 20px; padding: 6px 0; font-weight: normal; }
.bpv-search h3 { font-size: 18px; font-weight: normal; }

.bpv-check-rate-form { border: 2px solid #FE8802; background-color: #FEF9E3; padding: 6px 10px }
.bpv-check-rate-form h2 { font-size: 20px; color: #FE8802; padding: 8px 0 }
.bpv-check-rate-form .content { background-color: #FEF9E3; border-top: 1px dashed #FF921D; border-radius: 0; padding: 10px 0 5px }
.bpv-check-rate-form .help-block { margin-bottom: 0 }
.bpv-check-rate-form label { font-size: 12px }
.bpv-check-rate-form .text-warning { color: red }

.bpv-search .bpv-search-content
{
	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(top, #FFF0BD 0%, #FFFFFF 100%);

	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top, #FFF0BD 0%, #FFFFFF 100%);

	/* Opera */
	background-image: -o-linear-gradient(top, #FFF0BD 0%, #FFFFFF 100%);

	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF0BD), color-stop(1, #FFFFFF));

	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top, #FFF0BD 0%, #FFFFFF 100%);

	/* W3C Markup, IE10 Release Preview */
	background-image: linear-gradient(to bottom, #FFF0BD 0%, #FFFFFF 100%);
}

.bpv-date-input {
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #ECECEC 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #ECECEC));
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #ECECEC 100%);
	border: 1px solid #9B9B9B;
	box-shadow: none;
	cursor: not-allowed;
}

/*--- Custom Search Input ---*/
.bpv-input-warning{ border: 2px solid #B20000 !important}

/*--- Search sort & filter ---*/
#bpv-sort, #bpv-filter { display: none; border-top: 1px solid #D1D1D1; background-color: #F4F4F4 }

.bpv-filter { padding: 10px; }
.bpv-filter .title { text-transform: uppercase; font-weight: bold; }
.bpv-filter input { margin: 0 }
.bpv-filter .checkbox { border-bottom: 1px solid #D1D1D1; padding-bottom: 10px; margin-bottom: 15px }
#bpv-sort .nav li { border-radius: 0 !important; border-bottom: 1px solid #D1D1D1; }
#bpv-sort .nav-pills > li.active > a, #bpv-sort .nav-pills > li.active > a:hover,  #bpv-sort.nav-pills > li.active > a:focus { background-color: #63A54A; border-radius: 0 !important; }
#bpv-sort .nav-pills > li.active { border-color: #63A54A }
#bpv-sort .nav-stacked > li + li { margin-top: 0 }
#bpv-sort .icon-ok { color: #fff; position: absolute; top: 15px; right: 10px }

.filtered-items { padding: 0 10px 10px 10px }
.filtered-items .removed { margin-left: 5px }
.filtered-items .item { background-color: #88C0FC; border-radius: 4px; display: inline-block; padding: 4px 8px; font-weight: bold; font-size: 12px; color: #fff; margin-right: 10px; }

.icon-after { position: relative; display: table; width: 100% }
.icon-after .icon-calendar { position: absolute; top: 5px; right: 10px; }
.glyphicon-calendar { position: absolute; top: 6px; right: 7px; color: #5492C6; font-size: 20px }

/* General styles for all menus */
.cbp-spmenu {
	background: linear-gradient(to right, #ffffff 97%,#ddd 100%);
	position: absolute;
	top: 0;
	left: 0
}
.cbp-spmenu a {
	display: block;
	color: #333;
	font-size: 14px;
}
.cbp-spmenu a:hover {
	background: #4a98e3;
	color: #fff
}
.cbp-spmenu a.selected {
	background-color: #4a98e3; color: #fff
}
.cbp-spmenu a:first-child{
	padding: 15px 10px; font-size: 16px;
}

/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
	width: 80%;
	height: 100%;
	top: 0;
	z-index: 1001;
}
.cbp-spmenu-vertical a {
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 10px;
	text-decoration: none;
}

/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {
	left: -80%;
}
.cbp-spmenu-left.cbp-spmenu-open {

}

/* Push classes applied to the body */
.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}
.cbp-spmenu-push-toright {
	left: 80%;
}

/* Transitions */
.cbp-spmenu, .cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


/* Text Color
----------------------------------*/
.text-choice {
    color: #693;
}
.text-highlight, .highlight{
    color: #003580;
}
.text-special{
    color: #FE8802;
}
.text-price{
    color: #B30000;
}
.text-unhighlight {
    color: #666
}

.text-green {
	color:#3cad1f;
}
.text-link { color: #3385d6 }

.price-from {
  font-size: 20px;
  color: #b30000;
  font-weight: bold;
}
.price-origin {
  text-decoration: line-through;
}

/* List Group
----------------------------------*/
.bpv-box { border: 1px solid #46B7CF; clear: both; border-radius: 4px }
.bpv-box .box-heading { background-color: #46B7CF; padding: 10px; color: #fff }

.bpv-box .list-group { margin-bottom: 0 }
.bpv-box .box-heading + .list-group .list-group-item:first-child { border-top-width: 0 }
.bpv-box .list-group .list-group-item { border-radius: 0; border-width: 1px 0 }
.bpv-box .list-group .list-group-item.active { border-color: #ddd; background-color: #fff; font-weight: bold; color: #FE8802; }
.bpv-box > .list-group:last-child .list-group-item:last-child { border-bottom: 0; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px }
.bpv-box .list-group .list-group-item:hover, .bpv-box .list-group .list-group-item:active, .bpv-box .list-group .list-group-item:focus { background-color:#FBEF7E; }

.bpv-list-group a { color: #3385d6; font-size: 14px }
.bpv-list-group .group-title { font-size: 18px; padding-bottom: 0; padding-top: 10px  }

/* Button
----------------------------------*/
.btn{
    padding: 5px 15px;
    font-size: 15px;   
    border-bottom-width:4px;
}
.btn-lg {
	padding: 6px 15px;
    font-size: 20px;
    border-radius: 4px;
}

.btn-sm {
    padding: 3px 15px;
    font-size: 13px;
    border-bottom-width: 3px;
}

.btn-blue {
    background-color: #1B65E1;
    border-color: #144CA9;
    color: #ffffff;
}

.btn-blue:hover,
.btn-blue:focus
{
    background-color: #0066cc;
    border-color: #204d74;
    color: #ffffff;
}

.btn-green {
    background-color: #669933;
    border-color: #4D721F;
    color: white;
}

.btn-green:hover,
.btn-green:focus
{
    color: #ffffff;
    background-color:#398439;
    border-color: #006100;
}

.btn-yellow {
    background-color: #ffc300;
    color: #003580;
    border-color: #dea800;
}

.btn-yellow:hover,
.btn-yellow:focus
{
    background-color: #ec971f;
    border-color: #d58512;
    color: #ffffff;
}
.home-buttons { margin-top: -130px; position: relative; }
.btn-home-page {
  margin-bottom: 10px;
  vertical-align: middle;
  height: 50px;
  line-height: 36px;
  font-size: 18px;
  text-align: left;
  background-color: #fd7514;
  border-bottom-color: #da650f;
  color: #fff;
  font-weight: normal;
}
.btn-home-page-1 {
  background-color: #fa8f1d;
  border-bottom-color: #d77a18;
}
.btn-home-page-2 {
  background-color: #f9a723;
  border-bottom-color: #da901b;
}

.btn-group .btn-default:active,
.btn-group .btn-default.active{
    color: #fff;
    background-color: #337AB7;
    border-color: #2E6DA4;
}

.btn-group .btn-default.active:hover{
    color: #FFF;
    background-color: #286090;
    border-color: #204D74;
}
.btn-show-more { margin: 10px 0; overflow: hidden; text-overflow: ellipsis }

/* Overwite Input 
----------------------------------*/
.form-control {
    height: 34px;
    border-radius: 2px;
}

/* Bpt List
----------------------------------*/
.bpt-mb-list h2 {
	padding: 5px 0 5px 10px;
	margin: 0;
	background-color: #EEE;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
.bpt-mb-item {
  border-bottom: 1px solid #DDD;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: #333;
  padding-right: 1px;
}
.bpt-mb-item:hover, .bpt-mb-item:active { background-color:#FBEF7E; border:2px solid #FBEF7E; border-left:0; border-right:0 }
.bpt-mb-item-image {
  position: relative;
  margin: 0 7px 0 0;
  width: 120px;
  height: 90px;
  border-left: 1px solid #DDD;
}
.bpt-mb-item-name {
  font-weight: bold;
  font-size: 14px;
}
.bpt-mb-item-price {
  text-align: right;
  margin-right: 2px;
}
.bpt-mb-item-review {
  font-size: 12px;
  margin-left: 128px;
}
.bpt-item-off-txt {
	position: absolute;
	top: 7px;
	right: 1px;
	color: #FFF;
	font-size: 11px;
	display: none;
}
.bpt-item-off-bg {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  background-color: #B30000;
  width: 32px;
  height: 32px;
  border-radius: 0 0 0 32px
}

/* Tailor Made
----------------------------------*/
.tailor_container {
  width: 100%;
  min-height: 156px;
  background-color: #FFFFC9;
  padding: 10px;
  border: 1px #ffb40d solid;
}
.tailor_container .btn {
  font-size: 16px;
  font-weight: bold;
}
.tailor_container .avatar { padding-right: 5px }

/* Search list group
----------------------------------*/
.list-group-search { display: none; }
.list-group-search .list-group-item { padding: 8px }
.list-group-search .list-group-item+.list-group-item { border-top: 0 }

/*--- Search sort & filter ---*/
#bpv-sort, #bpv-filter { display: none; border-top: 1px solid #D1D1D1; background-color: #F4F4F4 }

.bpv-filter { padding: 10px; }
.bpv-filter .title { text-transform: uppercase; font-weight: bold; }
.bpv-filter input { margin: 0 }
.bpv-filter .checkbox { border-bottom: 1px solid #D1D1D1; padding-bottom: 10px; margin-bottom: 15px }
#bpv-sort .nav li { border-radius: 0 !important; border-bottom: 1px solid #D1D1D1; }
#bpv-sort .nav-pills > li.active > a, #bpv-sort .nav-pills > li.active > a:hover,  #bpv-sort.nav-pills > li.active > a:focus { background-color: #63A54A; border-radius: 0 !important; }
#bpv-sort .nav-pills > li.active { border-color: #63A54A }
#bpv-sort .nav-stacked > li + li { margin-top: 0 }
#bpv-sort .glyphicon-ok { color: #fff; position: absolute; top: 12px; right: 10px }

.filtered-items { padding: 0 10px 10px 10px }
.filtered-items .removed { margin-left: 5px }
.filtered-items .item { background-color: #88C0FC; border-radius: 4px; display: inline-block; padding: 4px 8px; font-weight: bold; font-size: 12px; color: #fff; margin-right: 10px; }

.btn-filter {
  font-size: 13px;
  font-weight:normal;
  padding: 6px 10px;
  color: #4a98e3;
  border: 1px solid #ccc
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.pagination a, .pagination span {
  border-radius: 4px;
  margin: 0 10px;
}

/*--- Typeadhed ---*/
.lb-destination { float: left; clear: both; }
.div-destination { position: relative; float: left; clear: both; width: 100%;}
.typeahead, .tt-query, .tt-hint { outline: none }
.typeahead:focus { border: 1px solid #66afe9 }
.typeahead { background-color: #fff }
.twitter-typeahead { width: 100%; }
.tt-query { -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
.tt-hint { color: #999 }
.type-width {width: 12%; border-radius: 5px 0 0 5px; font-size: 10px; text-align: center; color:white;}
.tt-dropdown-menu { width: 100%;  max-height: 242px; overflow-y: auto; margin-top: 0; background-color: #fff; border-bottom: 1px solid #46a3ff; border-right: 1px solid #46a3ff; border-left: 1px solid #46a3ff; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 0px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2); box-shadow: 0 5px 10px rgba(0, 0, 0, .2); color: #333; }
.tt-dropdown-menu .lb-header { padding: 0px 10px; width: 100%; background-color: #eee; font-style: italic; clear: both; float: left; }
.tt-suggestion { padding: 5px 5px; font-size: 11px; line-height: 18px;  border-bottom: 1px #DDD solid; }
.tt-suggestion p { margin: 0 }
.tt-suggestion.tt-cursor { color: #fff; background-color: #46a3ff; }
.search-choice-close { border: 0 none; cursor: pointer; outline: 0 none; position: absolute; right: 10px; top: 12px; }
.arrow-seach {position: absolute; height: 18px; border-style: solid; border-width: 7px 0px 7px 8px;}

/*---- Loading Component -------*/
.bpt-loading{
	padding-left:10px;
    border: 2px solid #feba02;
    background-color:#FFF;
    z-index: 1000;
    border-radius: 4px;
}
.bpt-loading img, .bpt-loading span{
    display: inline-block;
}
.bpt-loading span{
    font-size: 20px;
    font-weight: bold;
    color: #003580;
}

.bpt-list-standard { list-style: disc !important; padding-left: 20px }

/*---- Collapse Component -------*/
.bpv-collapse .heading { background-color: #5198D4; color: #fff; padding: 15px 15px 15px 28px; position: relative; line-height: 18px; font-size: 16px }
.bpv-collapse .heading-1 { background-color: #66A2D6 }
.bpv-collapse .heading-2 { background-color: #77ABDA }
.bpv-collapse .heading-3 { background-color: #89B8E4 }
.bpv-collapse .heading-4 { background-color: #9EC4E8 }
.bpv-collapse .content { padding: 10px; display: none; }
.bpv-collapse .heading .glyphicon-menu-right { margin-top: -5px; position: absolute; top: 50%; right: 10px; font-size: 12px }
.bpv-collapse .heading .glyphicon-star { position: absolute; left: 10px; top: 16px; font-size: 13px }

/*--- Bpv Panel ---*/
.bpv-panel { margin-bottom: 10px; border-radius: 0; border: 1px solid #D2DFE8; }
.bpv-panel .panel-heading { background-color: #F5FAFF; color: #333; border-bottom: 1px solid #E1E2E7;  }
.bpv-panel .panel-title { position: relative; }
.bpv-panel .panel-title h3 { padding: 0; margin: 0; font-size: 16px; font-weight: bold; }
.bpv-panel .notes { display: block; font-size: 13px; margin-top: 5px }

.panel-body{padding:10px}
.panel-heading { padding: 10px }

/*--- Bpv Rate Table ---*/
.rate-tables .rate-total { font-size: 16px !important; font-weight: bold !important; }
.rate-tables .row { border-bottom: 1px dashed #ccc; padding: 5px 0; margin: 0 }
.rate-tables .item-offer ul { margin-bottom: 0 }
.rate-tables .price-from { font-size: 16px; font-weight: normal; }


/**-----------General Contact Form ------------------------*/
.bpt-contact{
	padding: 10px;
	background-color: #eee;
}

/*--- Icons Retina ---*/
.icon {
	/* Reference the @2x Sprite */
	background-image: url("/media/mobile/sprites@2x.png");
	background-size: 178px 263px;
	background-repeat: no-repeat !important;
	display: inline-block;
	vertical-align: middle;
}
.icon-menu 			{ background-position: -5px -2px; width: 28px; height: 18px; }
.icon-search 		{ background-position: -9px -217px; }
.icon-search-orange { background-position: -9px -240px; }
.icon-search, .icon-search-orange { width: 23px; height: 23px; }

.icon-hotel 	{ background-position: -4px -137px; width: 35px; height: 21px; }
.icon-flight 	{ background-position: -2px -160px; width: 35px; height: 20px; }
.icon-junk-cruise 	{ background-position: -117px -145px; width: 35px; height: 33px; }
.icon-cruise 	{ background-position: -6px -183px; width: 35px; height: 33px; }
.icon-tour 		{ background-position: -83px -223px; width: 35px; height: 30px; }
.icon-visa 		{ background-position: -117px -178px; width: 36px; height: 36px; }

.icon-star-1 	{ background-position: -112px -120px; width: 14px; height: 14px; }
.icon-star-1_5 	{ background-position: -112px -106px; width: 28px; height: 14px; }
.icon-star-2 	{ background-position: -112px -91px; width: 28px; height: 14px; }
.icon-star-2_5 	{ background-position: -112px -76px; width: 41px; height: 14px; }
.icon-star-3 	{ background-position: -112px -61px; width: 41px; height: 14px; }
.icon-star-3_5 	{ background-position: -112px -46px; width: 54px; height: 14px; }
.icon-star-4	{ background-position: -112px -30px; width: 54px; height: 14px; }
.icon-star-4_5 	{ background-position: -112px -16px; width: 68px; height: 14px; }
.icon-star-5 	{ background-position: -112px 0; width: 68px; height: 14px; }

.icon-star-1,.icon-star-1_5,.icon-star-2,.icon-star-2_5,.icon-star-3,.icon-star-3_5,.icon-star-4,.icon-star-4_5,.icon-star-5 { margin-bottom: 3px }

.icon-chevron-right { background-position: -45px -146px; width: 19px; height: 19px; margin-bottom: 3px }
.icon-chevron-down 	{ background-position: -45px -55px; width: 21px; height: 21px }
.icon-chevron-up 	{ background-position: -45px -75px; width: 21px; height: 21px }

.icon-twitter-hd 		{ background-position: -83px -45px }
.icon-facebook-hd 		{ background-position: -83px -22px }
.icon-google-plus-hd 	{ background-position: -83px -91px }
.icon-pinterest-hd 		{ background-position: -83px -69px }

.icon-twitter-hd, .icon-facebook-hd, .icon-google-plus-hd, .icon-pinterest-hd {width: 23px; height: 23px; }

.icon-pata { background-position: 0 -24px; width: 43px; height: 21px; }
.icon-tripadvisor { background-position: 0 -46px; width: 40px; height: 21px; }

.icon-arrow-right-white 	{ background-position: -70px -11px; width: 6px; height: 10px; }
.icon-arrow-right-white-up 	{ background-position: -70px -22px; width: 9px; height: 6px; }
.bpv-collapse .heading .icon-arrow-right-white { margin-top: -5px; position: absolute; top: 50%; right: 10px;}

.icon-review-score {
  background-position: -80px -160px;
  width: 32px;
  height: 28px;
  margin-bottom: 5px;
}

.icon-review-remove {
  background-position: -69px -64px;
  width: 12px;
  height: 14px;
  margin-top: -3px;
}

/*--- Cruise Header Tabs ---*/
.nav-tabs {
	border: 0;
	margin: 0;
	width: 100%
}

.nav-tabs>li { margin-bottom: 0; }

.nav-tabs>li>a {
	border-radius: 0;
	font-size: 13px;
	font-weight: bold;
	padding: 8px 0;
	text-align: center;
	color: #333;
	margin: 0;
	border: 1px solid #ccc;
	border-right: 0
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color: #fff;
	background-color: #3385D6;
	border: 1px solid #3385D6
}

.nav-tabs>li { width: 33.33333333% }


.pop-promotion, .pro-offer-note {
	position:relative;
  	background-color: #f7f7f9;
  	border: 1px solid #e2e1e7;
  	padding: 8px 20px 8px 10px;
  	display: block;
  	width: 100%;
}

.icon-arrow-right-gray {
    background-position: -70px -1px;
  	width: 6px;
  	height: 10px;

	  position: absolute;
	  right: 10px;
	  top: 50%;
	  margin-top: -5px;
}

.bpv-pro .icon-arrow-right-gray {
  color: #999;
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -5px;
}

.icon-promotion {
  background-position: -47px -132px;
  width: 15px;
  height: 14px;
  margin: 0 3px 3px 0;
}


/*--- Booking Step ---*/
.bpv-step-bar {background-color: #F6F6F6; border-top: 1px solid #CDCDCD;padding:10px 0}
.bpv-step-bar .step {
	width: 36px;
	height: 36px;
	border-radius: 100%;
	border: 2px solid #CBCBCB;
	text-align: center;
	background-color: #E7E7E7;
	padding-top: 6px;
	margin-bottom: 3px;
	display:block;
	margin-right:auto;
	margin-left:auto;
}
.bpv-step-bar .title {color: #999}
.bpv-step-bar .step-active { background-color: #4B91F3; color: #fff }
.bpv-step-bar .step-ok { background-color: #6CB826; color: #fff }
.bpv-step-bar .title-active { color: #4B91F3; }
.bpv-step-bar .title-ok, .bpv-step-bar .arrow-ok{ color: #6CB826 !important}
.bpv-step-bar .arrow{color: #B8B8B8; position: absolute; right: -10px; top: 10px}

.bpt-see-more, .cruise-by-type .bpt-see-more {
    padding: 3px 15px;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    display: inline-block;
    color: #3385D6;
}

/*----------- Cart ------------
------------------------------*/

.icon-cart-empty {
  background-position: -122px -215px;
  width: 24px;
  height: 24px;
}

.icon-cart-origin {
	z-index:1;
	position:relative;
  	background-position: -122px -236px;
  	width: 24px;
  	height: 24px;
}

.item-num-cart {
	z-index:2;
	border-radius:50%;
	position: absolute;
 	background-color:rgb(232, 69, 69);
  	width: 15px;
  	height: 15px;
}

.text-cart { 
  	right: 12px;
  	top: 8px;
  	color: white;
  	font-size: 12px;
}

/*----------- Accordion ------------
------------------------------*/
.bpt-accordion h2 {
	background-color: #EEEEEE;
	margin: 0;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
}
.bpt-accordion .panel { box-shadow: none; border: 0 }
.bpt-accordion .panel-heading { border-radius: 0; padding: 0; position: relative; }
.bpt-accordion .panel-default > .panel-heading { background-color: #5198d4; color: #FFFFFF; }
.bpt-accordion .panel-title { font-size: 16px; padding: 15px 10px }
.bpt-accordion .panel-group .panel+.panel { margin-top: 1px }
.bpt-accordion .panel-heading .glyphicon { font-size: 10px; position: absolute; top: 50%; right: 5px; margin-top: -5px }
.bpt-accordion .active .glyphicon:before { content: "\e260"; }
