.main-box {
    clear: both;
    display: block;
    margin: 10px 0 40px;
    overflow: hidden;
}

.first-item {
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
}

.item-title{
    color: #fe8802;
}

.articles-box {
}

.articles-box {
    background: none repeat scroll 0 0 #f8f8f8;
    clear: both;
    display: block;
    overflow: hidden;
}

.articles-item-sm {
    border-bottom: 1px dotted #ccc;
    display: block;
    overflow: hidden;
    padding: 8px 0;
}

.col-right{
    float: left;
    padding-left: 0px;
}

.articles-item-sm:last-child {
    border: 0 none;
    padding-bottom: 0;
}

.articles-item-sm:first-child {
    padding-top: 0;
}

.article-title {

}

.articles-box .articles-item {
    border-bottom: 1px dotted #ccc;
    clear: both;
    display: block;
    overflow: hidden;
    padding: 20px 0;
}

.articles-item:last-child {
    border: 0 none;
}

.articles-item-sm img {
    float: left;
    margin-right: 10px;
}

.publish-date{
    margin-bottom: 10px;
}

.pagination, .showing-results, .backtotop {
    display: inline-block;
    margin:0;
    vertical-align:bottom;
}
.backtotop {
    padding: 6px 0
}
.showing-results {
    padding: 6px 12px
}
.pagination a, .pagination span {
    border-radius: 4px;
    margin: 0 10px;
}