.bpt-newbox {
    /*padding: 15px;*/
    border: 1px solid #CECECE;
    min-height: 410px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 46%;
    /*margin-right: 20px;*/
    margin-bottom: 15px;
    float: left;
    margin-left: 15px;
}

.bpt-newbox:hover{
    border: 1px solid #FCA903;
}

.bpt-newbox h3 {
    background-color: #F5F5F5;
    margin: -15px;
    margin-bottom: 15px;
    font-size: 21px;
    margin-bottom: 10px !important;
}

.bpt-newbox h3 a{
    /*padding: 10px;*/
}

.bpt-newbox img {
    margin: 0;
    margin-left: 6px;
}

.bpt-newbox .bpt-description{
    margin: 5px;
}

#btn_see_more{
    margin-left: 39%;
}

/*      Thing to do     */
.activity h2{
    padding: 10px;
    min-height: 46px;
}